@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;1,200;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;1,400&display=swap");
/* colors */
/* font */
/* padding */
/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(20, 33, 61, 0.3) #edf6f9;
}

/* For Internet Explorer */
* {
  scrollbar-face-color: rgba(20, 33, 61, 0.3);
  scrollbar-track-color: #edf6f9;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#edf6f9), to(#f5f5f5));
  background: linear-gradient(#edf6f9, #f5f5f5);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(20, 33, 61, 0.3);
}

/* || RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;
  color: inherit;
}

html {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#edf6f9), to(#f5f5f5));
  background: linear-gradient(#edf6f9, #f5f5f5);
  color: #000;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}

body {
  padding-bottom: 3rem;
}

.vh {
  height: 100vh;
}

.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
}
.homepage h1 {
  font-size: 2.6rem;
  font-family: "Great Vibes", cursive;
  color: #14213d;
}
.homepage .stack {
  margin-top: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.homepage .stack img {
  width: 2rem;
  height: auto;
}

.projects {
  padding-bottom: 12px;
}
.projects .year-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}
.projects .year-container .year {
  padding-top: 48px;
  font-size: 2.4rem;
  font-weight: 300;
  font-style: italic;
}
.projects .year-container .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: 20px;
}
.projects .year-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  width: 80vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem 0;
}
.projects .year-container .project::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("./img/pushpin.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  top: -5px;
  left: 5px;
  display: none;
}
.projects .year-container .project h1 {
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 9.6px;
}
.projects .year-container .project p {
  padding-top: 9.6px;
  width: 83%;
  text-align: justify;
  font-weight: 400;
  line-height: 20px;
}
.projects .year-container .project .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 5em;
  width: 85%;
  font-weight: 200;
  text-transform: uppercase;
}
.projects .year-container .project .buttons .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 222, 186, 0.4);
  border: none;
  text-decoration: none;
  color: inherit;
  font-size: 1.35rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.projects .year-container .project .buttons .btn:hover {
  cursor: default;
  background-color: transparent;
}
.projects .year-container .project .cyberpunk-ninjas-game-buttons {
  background-image: url("./img/projects/ninjas_game_2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.projects .year-container .project .ravens-buttons {
  background-image: url("./img/projects/ravens1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.projects .year-container .project .alien-shooter-buttons {
  background-image: url("./img/projects/alien_shooter.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.projects .year-container .project .click-buttons {
  background-image: url("./img/projects/click.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top 30px;
}
.projects .year-container .project .cyberpunk-ninjas-website-buttons {
  background-image: url("./img/projects/cyberpunk_ninjas_website.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top 300px;
}
.projects .year-container .project figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.projects .year-container .project figure img {
  height: 20px;
  width: auto;
}

.back-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #000;
  border: none;
  margin: auto;
  background: transparent;
  font-weight: 300;
}

.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.fade-scroll {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* horizontal phone */
@media screen and (max-height: 480px) and (max-width: 915px) {
  .projects .year-container .project {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .projects .year-container .project::before {
    top: -8px;
  }
  .projects .year-container .project .buttons {
    height: 100px;
  }
  .projects .year-container .project .cyberpunk-ninjas-website-buttons {
    background-position: center;
  }
}
/* tablets */
@media screen and (min-width: 768px) {
  .homepage h1 {
    font-size: 4rem;
  }
  .homepage .stack img {
    width: 3rem;
  }
  .projects .year-container .year {
    font-size: 3.6rem;
  }
  .projects .year-container .month {
    font-size: 2.6rem;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .projects .year-container .project {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .projects .year-container .project::before {
    top: -8px;
  }
  .projects .year-container .project .buttons {
    height: 200px;
  }
  .projects .year-container .project .cyberpunk-ninjas-website-buttons {
    background-position: center;
  }
  .projects .year-container .project h1 {
    font-size: 2.2rem;
    padding-bottom: 12px;
  }
  .projects .year-container .project p {
    padding-top: 12px;
    font-size: 1.6rem;
    line-height: 30px;
  }
  .projects .year-container .project .buttons .btn {
    font-size: 2.6rem;
  }
  .projects .year-container .project figure {
    gap: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .projects .year-container .project figure img {
    height: 40px;
  }
  .back-top {
    font-size: 2.6rem;
  }
}
/* tablet horizontal */
@media screen and (min-height: 480px) and (max-height: 820px) and (min-width: 915px) and (max-width: 1280px) {
  .projects .year-container .project .buttons {
    height: 300px;
  }
  .projects .year-container .project figure {
    gap: 40px;
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .projects .year-container .project figure img {
    height: 45px;
  }
  .projects .year-container .project p {
    padding-top: 18px;
    font-size: 2rem;
  }
  .projects .year-container .project h1 {
    padding-bottom: 12px;
  }
}
/* desktop */
@media screen and (min-width: 1280px) {
  .projects .year-container .project .buttons {
    height: 400px;
  }
  .projects .year-container .project figure {
    gap: 50px;
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .projects .year-container .project figure img {
    height: 50px;
  }
}