
html {
    width: 100vw;
    height: 100vh;
    background: linear-gradient($color-bg, $color-bg-2);
    color: $color-font;
    overflow-x: hidden;
    font-family: $font-family;
}

body {
    padding-bottom: 3rem;
}

