
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin background-buttons {
    background-size: cover;
    background-attachment: fixed;
}

@mixin button-project {
    width: 100%;
    height: 100%;
    background-color: $color-darken;
    border: none;
}