.projects {

    padding-bottom: $padding;
    
    .year-container {
        @include flex-center;
        flex-direction: column;
        width: 100vw;
        //position: relative;
    
        .year {
            // position: sticky;
            // top: 0;
            // z-index: 2;
            padding-top: $padding-xxl;
            font-size: $font-size-xl * 0.8;
            font-weight: 300;
            font-style: italic;
        }
    
        .month {
            @include flex-center;
            font-size: $font-size-l * 0.8;
            // position: sticky;
            // top: 20px;
            // z-index: 1;
            font-weight: 300;
            padding-top: 20px;
        }
    
        .project {
    
            @include flex-center;
            flex-direction: column;
            background-color: $colog-bg-project;
            width: 80vw;
            height: fit-content;
            margin: 1rem 0;

            &::before {
                content: "";
                display: block;
                width: 17px;
                height: 17px;
                background-image: url('./img/pushpin.png');
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                position: relative;
                top: -5px;
                left: 5px;
                display: none;
            }

            h1 {
                font-weight: 500;
                font-size: $font-size*1.4;
                padding-bottom: $padding-s;
            }

            p {
                padding-top: $padding-s;
                width: 83%;
                text-align: justify;
                font-weight: 400;
                line-height: 20px;
            }
            
            .buttons {
                @include flex-center;
                justify-content: space-evenly;
                height: 5em;
                width: 85%;
                font-weight: 200;
                text-transform: uppercase;

                .btn {
                    @include flex-center;
                    @include button-project;
                    text-decoration: none;
                    color: inherit;
                    font-size: $font-size * 1.35;
                    transition: background-color 0.3s ease;

                    &:hover {
                        cursor: default;
                        background-color: transparent;
                    }
                }
            }

            .cyberpunk-ninjas-game-buttons {
                background-image: url('./img/projects/ninjas_game_2.png');
                @include background-buttons;
                background-position: center;
            }            

            .ravens-buttons {
                background-image: url('./img/projects/ravens1.png');
                @include background-buttons;
                background-position: center;
            }

            .alien-shooter-buttons {
                background-image: url('./img/projects/alien_shooter.png');
                @include background-buttons;
                background-position: center;
            }

            .click-buttons {
                background-image: url('./img/projects/click.png');
                @include background-buttons;
                background-position: center top 30px;
            }

            .cyberpunk-ninjas-website-buttons {
                background-image: url('./img/projects/cyberpunk_ninjas_website.png');
                @include background-buttons;
                background-position: center top 300px;
            }

            figure {
                @include flex-center;
                gap: 10px;
                img {
                    height: 20px;
                    width: auto;
                }
                padding-top: $padding;
                padding-bottom: $padding;
            }

        }
    }

    // visibility: hidden;
    //display: none;

}

.back-top {
    @include flex-center;
    justify-content: center;
    font-size: $font-size-l * 0.8;
    color: $color-font;
    border: none;
    margin: auto;
    background: transparent;
    font-weight: 300;
}