@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* font */
$font-size: 1rem;
$font-size-l: $font-size * 2;
$font-size-xl: $font-size * 3;
$font-size-xxl: $font-size * 4;
$font-family-name: 'Great Vibes', cursive;